<h1>Editing category group</h1>

<%= render "form", category_group: @category_group %>

<br>

<div>
  <%= link_to "Show this category group", @category_group %> |
  <%= link_to "Back to category groups", category_groups_path %>
</div>
